@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "yu-gothic-pr6n";
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: #B7B8B8;
  color: #4D5454;
  font-size: 1.6rem;
}

@-webkit-keyframes openMenu {
  0% {
    border-radius: 0 0 0 100%;
    width: 10%;
    height: 10vh;
    opacity: 0.6;
  }
  100% {
    border-radius: 0 0 0 50px;
    width: 50%;
    height: 100vh;
    opacity: 1;
    overflow: auto;
  }
}
@keyframes openMenu {
  0% {
    border-radius: 0 0 0 100%;
    width: 10%;
    height: 10vh;
    opacity: 0.6;
  }
  100% {
    border-radius: 0 0 0 50px;
    width: 50%;
    height: 100vh;
    opacity: 1;
    overflow: auto;
  }
}
@-webkit-keyframes openMenu-sp {
  0% {
    border-radius: 0 0 0 100%;
    width: 10%;
    height: 10vh;
    opacity: 0.6;
  }
  100% {
    border-radius: 0 0 0 50px;
    width: 100%;
    height: 100vh;
    opacity: 1;
    overflow: auto;
  }
}
@keyframes openMenu-sp {
  0% {
    border-radius: 0 0 0 100%;
    width: 10%;
    height: 10vh;
    opacity: 0.6;
  }
  100% {
    border-radius: 0 0 0 50px;
    width: 100%;
    height: 100vh;
    opacity: 1;
    overflow: auto;
  }
}
@-webkit-keyframes leftIn {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftIn {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes blinkText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.l-footer {
  text-align: center;
  margin-bottom: 17px;
}
.l-footer > span {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 17px;
}

.l-header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
}
.l-header > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .l-header > img {
    height: 100vh;
    -o-object-position: -100px;
       object-position: -100px;
  }
}
.l-header #aroma {
  text-decoration: none;
  margin: 13px 0 13px 15px;
  position: fixed;
  color: #fff;
  font-weight: lighter;
  font-size: 1.8rem;
}
.l-header .l-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  text-align: center;
  max-width: 760px;
  width: 100%;
  position: absolute;
}
@media screen and (max-width: 540px) {
  .l-header .l-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
  }
}
.l-header .l-nav > a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 34px;
  border: solid 3px black;
  padding: 11px 29px 12px 28px;
}
@media screen and (max-width: 540px) {
  .l-header .l-nav > a {
    font-size: 24px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
}
.l-header .l-nav_a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.l-header .l-nav_a a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 34px;
  padding-top: 11px;
  padding-bottom: 12px;
}
@media screen and (max-width: 540px) {
  .l-header .l-nav_a a {
    font-size: 24px;
  }
}
.l-header .l-nav .u-nav_about {
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.l-header .l-nav .u-nav_works {
  padding-left: 35px;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media screen and (max-width: 540px) {
  .l-header .l-nav .u-nav_works {
    padding-left: 20px;
    padding-right: 10px;
  }
}
.l-header_title {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 40%;
}
@media screen and (max-width: 540px) {
  .l-header_title {
    width: 70%;
    position: absolute;
  }
}
.l-header_title p {
  font-family: "adorn-garland", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D5CE77;
  font-size: 5vw;
  text-shadow: 2px 2px 2px #8d8a8a;
}
@media screen and (max-width: 540px) {
  .l-header_title p {
    font-size: 12vw;
  }
}
.l-header_title p:nth-child(1) {
  margin-bottom: 0;
}
.l-header_title p:nth-child(2) {
  margin-top: -10%;
  text-align: end;
}

.l-main {
  width: 100%;
}
.l-main > img {
  left: 0;
  top: 109px;
  width: 100%;
}
.l-main_box {
  display: block;
  text-align: center;
  width: 100%;
}

.c-button {
  background-color: #B7B8B8;
  border: 2px solid #2F3333;
  padding: 1% 2% 0 2%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  max-width: 960px;
}
@media screen and (max-width: 540px) {
  .c-button {
    padding: 3% 2%;
  }
}
.c-button:hover {
  cursor: pointer;
  border: 2px solid #B7B8B8;
}
.c-button p {
  font-family: "ta-oonishi", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 5% 10% 0 0;
  z-index: 5;
  position: relative;
}
@media screen and (max-width: 540px) {
  .c-button p {
    padding-top: 0;
    margin: 8% 0;
  }
}
.c-button_illust {
  width: 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  position: absolute;
  top: -15%;
  right: -10%;
  opacity: 0.8;
  z-index: 3;
}
.c-button .citrus {
  position: absolute;
  top: 10%;
  right: -10%;
}
.c-button .rose {
  position: absolute;
  top: 10%;
  right: -10%;
}
.c-button_circle {
  border-radius: 50%;
  width: 25%;
  height: 60%;
  position: absolute;
  top: 10%;
  right: 5%;
  opacity: 0.7;
  z-index: 1;
}
.c-button .purple {
  background-color: #9D97AA;
}
.c-button .green {
  background-color: #7C998B;
}
.c-button .yellow {
  background-color: #C0C086;
}
.c-button .pink {
  background-color: #B592B0;
}
.c-button .lightgreen {
  background-color: #99B499;
}
.c-button .orange {
  background-color: #C0B286;
}

.c-online a {
  border: 2px solid #2F3333;
  border-radius: 10px;
  background-color: #C5C8C8;
  text-decoration: none;
  color: #2F3333;
  text-wrap: nowrap;
}

.c-sbttl {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-left: 25%;
}
@media screen and (max-width: 768px) {
  .c-sbttl {
    padding-left: 0;
  }
}

.c-ttl {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 540px) {
  .c-ttl {
    padding-top: 20%;
    padding-bottom: 10%;
  }
}

#back-btn {
  display: none;
  padding: 40px 30px;
  background-color: rgb(54, 47, 47);
  color: white;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fade {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 1.5s, -webkit-transform 1s;
  transition: opacity 1.5s, -webkit-transform 1s;
  transition: opacity 1.5s, transform 1s;
  transition: opacity 1.5s, transform 1s, -webkit-transform 1s;
}
.fade .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.carousel {
  overflow: hidden;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li {
  display: none;
}

.scroll-up {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
}

.scroll-up.on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.scroll-left {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}

.scroll-left.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.scroll-right {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}

.scroll-right.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.c-method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 2px solid #414747;
  border-radius: 20px;
  position: relative;
  max-width: 960px;
}
@media screen and (max-width: 540px) {
  .c-method {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.c-method_number {
  position: absolute;
  top: -10%;
  left: -1%;
  width: 15%;
}
@media screen and (max-width: 540px) {
  .c-method_number {
    width: 25%;
  }
}
.c-method h2 {
  padding: 5% 2%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 25%;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .c-method h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  .c-method h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 40%;
  }
}
.c-method p {
  width: 70%;
  text-align: left;
  padding: 3% 6% 3% 0;
}
@media screen and (max-width: 768px) {
  .c-method p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 540px) {
  .c-method p {
    margin: 0 auto 5% auto;
    padding-right: 0;
    padding-bottom: 5%;
  }
}
.c-method_illust {
  position: absolute;
  bottom: -10%;
  right: -5%;
  width: 13%;
}
@media screen and (max-width: 540px) {
  .c-method_illust {
    width: 20%;
    bottom: -8%;
  }
}

.c-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 540px) {
  .c-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .c-item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.c-item_img {
  width: 50%;
}
@media screen and (max-width: 540px) {
  .c-item_img {
    width: 100%;
  }
}
.c-item_img img {
  width: 100%;
}
.c-item_p {
  width: 50%;
  padding-top: 3%;
}
@media screen and (max-width: 540px) {
  .c-item_p {
    width: 100%;
    padding-bottom: 10%;
  }
}
.c-item_p h2 {
  text-align: center;
}
.c-item_p p {
  font-family: "ta-oonishi", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  width: 60%;
  margin: 5% auto;
  padding-left: 7%;
}
@media screen and (max-width: 540px) {
  .c-item_p p {
    font-size: 1.4rem;
    padding-left: 15%;
  }
}

.c-review {
  background-color: #575D5D;
  width: 25%;
  padding: 4% 3%;
  color: #D7E8E8;
  margin-right: 2.5%;
  margin-left: 2.5%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  scroll-snap-align: center;
}
@media screen and (max-width: 540px) {
  .c-review {
    width: 50%;
  }
}
.c-review:nth-child(1) {
  margin-left: 5%;
}
.c-review p {
  font-size: 1.3vw;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 540px) {
  .c-review p {
    font-size: 3vw;
  }
}
.c-review a {
  font-size: 1.3vw;
  color: #D7E8E8;
}
@media screen and (max-width: 540px) {
  .c-review a {
    font-size: 3vw;
  }
}

.c-info {
  width: 50%;
  padding: 4% 2% 6% 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 540px) {
  .c-info {
    width: 100%;
    padding-bottom: 5%;
  }
}
.c-info a {
  cursor: pointer;
  position: relative;
  display: block;
  width: 60px;
  height: 20px;
  line-height: 5px;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
  text-decoration: none;
  color: #414747;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.c-info a::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}
.c-info a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}
.c-info a:hover {
  color: #414747;
}
.c-info a:hover::before {
  width: 100%;
  height: 100%;
  border-top-color: #414747;
  border-right-color: #414747;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.c-info a:hover::after {
  width: 100%;
  height: 100%;
  border-bottom-color: #414747;
  border-left-color: #414747;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.c-sns {
  text-align: center;
}
.c-sns #Twitter {
  width: 5%;
}
.c-sns #Insta {
  width: 5%;
}

.sp-nav .openbtn {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #B7B8B8;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px 0 5px 5px;
  z-index: 1500;
}
.sp-nav .openbtn.active {
  background-color: #625e5e;
}
.sp-nav .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
  background: #FFF;
}
.sp-nav .openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.sp-nav .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
  background: #FFF;
}
.sp-nav .openbtn span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  height: 2px;
  background: #665a5a;
  left: 10px;
}
.sp-nav .openbtn span:nth-of-type(1) {
  top: 12px;
  width: 45%;
}
.sp-nav .openbtn span:nth-of-type(2) {
  top: 22px;
  width: 55%;
}
.sp-nav .openbtn span:nth-of-type(3) {
  top: 33px;
  width: 62%;
}
.sp-nav .sp-menu {
  display: none;
}
.sp-nav .sp-menu.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #625e5e;
  border-radius: 0 0 0 50px;
  width: 50%;
  padding: 5%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: openMenu 1s ease-in-out;
  animation: openMenu 1s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-delay: both;
          animation-delay: both;
}
@media screen and (max-width: 768px) {
  .sp-nav .sp-menu.active {
    -webkit-animation: openMenu-sp 1s ease-in-out;
    animation: openMenu-sp 1s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -webkit-animation-delay: both;
            animation-delay: both;
  }
}
.sp-nav .sp-menu ul {
  padding-left: 0;
}
.sp-nav .sp-menu ul li {
  display: block;
  margin: 7% auto;
  font-size: 1rem;
  text-align: left;
  width: 50%;
  list-style: none;
}
.sp-nav .sp-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  -webkit-animation: leftIn 1s ease-in-out 1s;
  animation: leftIn 1s ease-in-out 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-delay: both;
          animation-delay: both;
}
.sp-nav .sp-menu ul li a:hover > span {
  color: burlywood;
  text-shadow: -1px 1px 5px #DCBB80, 1px -1px 5px #DCBB80;
}
.sp-nav .sp-menu #sp-sns {
  margin: 7% auto;
  -webkit-animation: leftIn 1s ease-in-out 1s;
  animation: leftIn 1s ease-in-out 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-delay: both;
          animation-delay: both;
}

.p-burger {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: leftIn 1s ease-in-out 1s;
  animation: leftIn 1s ease-in-out 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-delay: both;
          animation-delay: both;
}
.p-burger img {
  width: 13%;
  position: absolute;
  top: -25%;
  left: 13%;
}
.p-burger a {
  padding: 3%;
  font-size: 1.3vw;
}
@media screen and (max-width: 768px) {
  .p-burger a {
    font-size: 1.9vw;
  }
}
@media screen and (max-width: 540px) {
  .p-burger a {
    font-size: 2.5vw;
  }
}

.p-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 20% auto;
  }
}
.p-about_img {
  position: relative;
  width: 40%;
  background-image: url(https://github.com/mana07/aroma/blob/main/images/background1.png?raw=true);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .p-about_img {
    display: none;
  }
}
.p-about_img img:nth-child(1) {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
}
.p-about_img img:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 85%;
  width: 50%;
  z-index: 5;
}
.p-about_img img:nth-child(3) {
  position: absolute;
  top: 65%;
  left: 30%;
  width: 50%;
}
.p-about_txt {
  width: 60%;
  padding: 15% 0;
}
@media screen and (max-width: 768px) {
  .p-about_txt {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
}

.p-preface {
  padding-left: 45%;
  margin-top: 5%;
}
@media screen and (min-width: 960px) {
  .p-preface {
    padding-left: 45%;
  }
}
@media screen and (max-width: 768px) {
  .p-preface {
    padding-left: 10%;
    display: grid;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.p-preface p {
  line-height: 2.5;
  text-align: left;
  width: 74%;
}
@media screen and (max-width: 768px) {
  .p-preface p {
    width: 100%;
    text-align: left;
  }
}
.p-effect {
  background-image: url(https://github.com/mana07/aroma/blob/main/images/background3.png?raw=true);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  margin: 0 auto;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-effect {
    background-image: none;
    background-color: #99A0A3;
  }
}
.p-effect_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
  padding-bottom: 10%;
  margin: 0 auto;
  max-width: 960px;
}
@media screen and (max-width: 540px) {
  .p-effect_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-effect_main img {
  width: 45%;
  height: 45%;
}
@media screen and (max-width: 540px) {
  .p-effect_main img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
  }
}
.p-method {
  margin-bottom: 10%;
}
@media screen and (max-width: 540px) {
  .p-method {
    margin-bottom: 20%;
  }
}
.p-method_block2 {
  margin: 7% auto;
}
@media screen and (max-width: 540px) {
  .p-method_block2 {
    margin: 15% auto;
  }
}

.p-kind {
  background-color: #4D5454;
}
.p-kind h1 {
  padding-top: 10%;
}
@media screen and (max-width: 540px) {
  .p-kind h1 {
    padding-top: 15%;
  }
}
.p-kind_item {
  width: 80%;
  margin: 0 auto 5% auto;
  max-width: 960px;
}

.p-fgr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}
@media screen and (max-width: 540px) {
  .p-fgr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-fgr_mainimg {
  width: 48%;
  padding-top: 64px;
}
@media screen and (max-width: 768px) {
  .p-fgr_mainimg {
    padding-top: 42px;
  }
}
@media screen and (max-width: 540px) {
  .p-fgr_mainimg {
    width: 100%;
    padding-top: 0;
  }
}
.p-fgr_mainimg img {
  width: 100%;
}
.p-fgr_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}
@media screen and (max-width: 540px) {
  .p-fgr_button {
    width: 100%;
  }
}
.p-fgr .p-button_text p {
  color: #D7E8E8;
  font-weight: 100;
  -webkit-animation: blinkText 1s ease infinite;
  animation: blinkText 1s ease infinite;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-delay: both;
          animation-delay: both;
}
.p-fgr .p-button_box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (max-width: 540px) {
  .p-fgr .p-button_box {
    width: 100%;
  }
}
.p-fgr .p-button_box a {
  width: 48%;
  height: 30%;
  text-decoration: none;
  color: #4D5454;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 540px) {
  .p-fgr .p-button_box a {
    width: 45%;
  }
}
.p-fgr .p-button_box a:nth-child(3) {
  margin: 5% 0;
}
.p-fgr .p-button_box a:nth-child(4) {
  margin: 5% 0;
}

.p-online {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 10%;
  padding-bottom: 10%;
  position: relative;
}
@media screen and (max-width: 540px) {
  .p-online {
    padding-bottom: 20%;
  }
}
.p-online img {
  position: absolute;
  top: -17%;
  right: 26%;
  width: 7%;
}
@media screen and (max-width: 540px) {
  .p-online img {
    top: -25%;
    left: 8%;
    width: 15%;
  }
}
.p-online a {
  width: 25%;
  padding: 2% 3%;
  font-size: 1.3vw;
}
@media screen and (max-width: 540px) {
  .p-online a {
    font-size: 3vw;
    width: 80%;
    padding: 4% 3%;
  }
}

.p-review {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .p-review {
    padding-bottom: 10%;
  }
}
.p-review h1 {
  padding-top: 10%;
  padding-bottom: 7%;
  margin: 0 auto;
}
.p-review_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  -webkit-scroll-snap-type: both mandatory;
      -ms-scroll-snap-type: both mandatory;
          scroll-snap-type: both mandatory;
  overflow-x: hidden;
}
@media screen and (max-width: 540px) {
  .p-review_box {
    overflow-x: hidden;
    width: 100%;
  }
}

.p-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #4d4d4d;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.p-arrow.left {
  left: 0;
}
.p-arrow.right {
  right: 0;
}
.p-arrow.hide {
  display: none;
}

.p-cont {
  background-image: url(https://github.com/mana07/aroma/blob/main/images/background-img.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 5%;
}
@media screen and (max-width: 540px) {
  .p-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15% 0 10% 0;
  }
}
.p-cont_concept {
  background-image: url(https://github.com/mana07/aroma/blob/main/images/black.png?raw=true);
  color: #D7E8E8;
}
.p-cont_concept a {
  color: #D7E8E8;
  cursor: pointer;
}
.p-cont_concept a:hover {
  color: #D7E8E8;
}
.p-cont_concept a:hover::before {
  border-top-color: #D7E8E8;
  border-right-color: #D7E8E8;
}
.p-cont_concept a:hover::after {
  border-bottom-color: #D7E8E8;
  border-left-color: #D7E8E8;
}
.p-cont_history {
  color: #4D5454;
  background-image: url(https://github.com/mana07/aroma/blob/main/images/white.png?raw=true);
}
.p-cont_shop {
  color: #4D5454;
  background-image: url(https://github.com/mana07/aroma/blob/main/images/white.png?raw=true);
}
@media screen and (max-width: 540px) {
  .p-cont_shop {
    background-image: url(https://github.com/mana07/aroma/blob/main/images/black.png?raw=true);
    color: #D7E8E8;
  }
}
@media screen and (max-width: 540px) {
  .p-cont_shop a {
    color: #D7E8E8;
  }
}
@media screen and (max-width: 540px) {
  .p-cont_shop a:hover {
    color: #D7E8E8;
  }
}
@media screen and (max-width: 540px) {
  .p-cont_shop a:hover::before {
    border-top-color: #D7E8E8;
    border-right-color: #D7E8E8;
  }
}
@media screen and (max-width: 540px) {
  .p-cont_shop a:hover::after {
    border-bottom-color: #D7E8E8;
    border-left-color: #D7E8E8;
  }
}
.p-cont_sns {
  background-image: url(https://github.com/mana07/aroma/blob/main/images/black.png?raw=true);
  color: #D7E8E8;
}
@media screen and (max-width: 540px) {
  .p-cont_sns {
    background-image: url(https://github.com/mana07/aroma/blob/main/images/white.png?raw=true);
    color: #4D5454;
  }
}

.u-works1 {
  margin: 29px 10px 32px 0;
}
@media screen and (max-width: 540px) {
  .u-works1 {
    margin: 29px 9px 32px 9px;
  }
}
.u-works2 {
  margin: 29px 10px 32px 10px;
}
@media screen and (max-width: 540px) {
  .u-works2 {
    margin: 29px 9px 32px 9px;
  }
}
.u-works3 {
  margin: 29px 0px 32px 10px;
}
@media screen and (max-width: 540px) {
  .u-works3 {
    margin: 29px 0px 32px 9px;
  }
}

.u-white {
  color: #D7E8E8;
}

.u-backcolor_green {
  background-color: #4D5454;
}

.u-backcolor_gray {
  background-color: #99A0A3;
}

p {
  font-size: 1.6rem;
}
@media screen and (min-width: 960px) {
  p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 540px) {
  p {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 2rem;
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}
@media screen and (min-width: 960px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  h2 {
    font-size: 2.5rem;
  }
}

a {
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */