@use "../../foundation/mixin" as m;

.c-button{
  background-color: #B7B8B8;
  border: 2px solid #2F3333;
  padding: 1% 2% 0 2%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  max-width: 960px;
  @include m.mq(sp) {
    padding: 3% 2%;
  }
  &:hover{
    cursor: pointer;
    border: 2px solid #B7B8B8;
  }
  
  p{
    font-family: "ta-oonishi", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-self: center;
    padding: 5% 10% 0 0;
    z-index: 5;
    position: relative;
    @include m.mq(sp) {
      padding-top: 0;
      margin: 8% 0;
    }
  }
  &_illust{
    width: 50%;
    transform: rotate(15deg);
    position: absolute;
    top: -15%;
    right: -10%;
    opacity: 0.8;
    z-index: 3;
  }
  .citrus{
    position: absolute;
    top: 10%;
    right: -10%;
}
  .rose{
    position: absolute;
    top: 10%;
    right: -10%;
  }
  &_circle{
    border-radius: 50%;
    width: 25%;
    height: 60%;
    position: absolute;
    top: 10%;
    right: 5%;
    opacity: 0.7;
    z-index: 1;
  }
  .purple{
    background-color: #9D97AA;
  }
  .green{
    background-color: #7C998B;
  }
  .yellow{
    background-color: #C0C086;
  }
  .pink{
    background-color: #B592B0;
  }
  .lightgreen{
    background-color: #99B499;
  }
  .orange{
    background-color: #C0B286;
  }
}

.c-online{
  a{
    border: 2px solid #2F3333;
    border-radius: 10px;
    background-color: #C5C8C8;
    text-decoration: none;
    color: #2F3333;
    text-wrap: nowrap;
  }
}

// font-family: "adorn-garland", sans-serif;
// font-weight: 400;
// font-style: normal;



