@use "../../foundation/mixin" as m;


.u-works{
  &1{
    margin: 29px 10px 32px 0;
    @include m.mq(sp){
      margin: 29px 9px 32px 9px;
    }
  }
  &2{
    margin: 29px 10px 32px 10px;
    @include m.mq(sp) {
      margin: 29px 9px 32px 9px;
    }
  }
  &3{
    margin: 29px 0px 32px 10px;
    @include m.mq(sp) {
      margin: 29px 0px 32px 9px;
    }
  }
}